@{
    ViewData["Title"] = "Events";
    ViewData["Location"] = "Dallas, TX";
    ViewData["Message"] = "Welcome to Dallas!";
}

<div class="container">
    <div class="jumbotron">
    <h1>@ViewData["Location"]</h1>
    <p>@ViewData["Message"]</p>
    <p></p>
    </div>
</div>

<div class="container">
    <h2>Events in Dallas</h2>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail event-card">
                <h6>INTEREST</h6>
                <div class="card-body text-info">
                    <h4 class="card-title">Event title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail event-card">
                <h6>INTEREST</h6>
                <div class="card-body text-info">
                    <h4 class="card-title">Event title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail event-card">
                <h6>INTEREST</h6>
                <div class="card-body text-info">
                    <h4 class="card-title">Event title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
            </div>
        </div>
    </div>
</div>