@{
    ViewData["Title"] = "Events";
    ViewData["Location"] = "Dallas, TX";
    ViewData["Message"] = "Welcome to Dallas!";
}

<div class="container">
    <div class="row">
        <p></p>
    <div id="dallas-header" class="jumbotron">
    <h1>@ViewData["Location"]</h1>
    <p>@ViewData["Message"]</p>
    <p></p>
    </div>
    </div>
</div>

<div class="container">
    <h3>Upcoming Events</h3>
    <div id="dallas-events" class="row">
        <!-- <div class="col-sm-12 col-md-4">
            <div class="thumbnail event-card">
                <h6>INTEREST</h6>
                <div class="card-body text-info">
                    <h4 class="card-title">Event title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail event-card">
                <h6>INTEREST</h6>
                <div class="card-body text-info">
                    <h4 class="card-title">Event title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail event-card">
                <h6>INTEREST</h6>
                <div class="card-body text-info">
                    <h4 class="card-title">Event title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
            </div>
        </div> -->
    </div>
</div>


<div class="modal fade" id="evtModal" tabindex="-1" role="dialog" aria-labelledby="evtModal">
  <div class="modal-dialog full-screen" role="document">
    <div class="modal-content full-screen">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h6 class="modal-title" id="evt-modal-label">FOOD EVENT</h6>
      </div>
      <div class="modal-body col-sm-12 col-md-6">
        <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F40130875%2F197112705556%2F1%2Foriginal.jpg?w=800&rect=0%2C509%2C2448%2C1224&s=7bf2bf19003c620ef069138addc5d7d4" style="max-width:100%">
        <div class="col-md-8">
            <h3 id="evt-modal-title">Event Title</h3>
            <p id="evt-modal-date">Event date</p>
            <p id="evt-modal-desc">Event description jgaskldjfkjsdl;fjasdjfl</p>
        </div>
        <div class="col-md-4">
            <div class="center-block">
            <button id="save-button" type="button" class="btn btn-success pull-right" style="margin-top:15px;">Save Event</button>
            </div>
        </div>
      </div>
      <div class="modal-body col-sm-12 col-md-6" style="height:90%">
        <div class="panel panel-default" style="height:100%">
            <div class="panel-heading">
                <h3 class="panel-title">Group chat</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
      </div>
    </div>
  </div>
</div>